{% extends 'base.html' %}
{% block title %}Изменить Пароль{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "./pages/index.css" %}">
<link rel="stylesheet" href="{% static "./pages/form.css" %}">
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Забыли пароль</h1>
    </div>
    <div class="form-container">
        <p>Инструмент восстановления пароли еще в печи. Как только он будет готов, мы сообщим об этом <a href="">тут</a>.
        </p>
    </div>
{% endblock %}