{% extends 'base.html' %}
{% block title %}Изменить Пароль{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "./pages/index.css" %}">
<link rel="stylesheet" href="{% static "./pages/form.css" %}">
{% endblock %}
{% block content %}

<div class="main__header">
    <h1 class="main__title">Изменить пароль</h1>
</div>
<div class="form-container">
    <form class="form" method="post">
    {% csrf_token %}
    {% for field in form %}
    {% if field.errors %}
            {% for error in field.errors %}
            <span class="form__error">{{ error }}
            </span>
            {% endfor %}
            {% endif %}

        <div class="form__group">
            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
            <div class="form__field-group">
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form__input">
                <span class="form__error"></span>
            </div>
        </div>
    {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Изменить пароль</button>
            </div>
    
    </form>
</div>
{% endblock %}

