<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Рецепты{% endblock %}</title>
    {% load static %}
    {% block css %}
    <!-- css goes here -->
    {% endblock %}
</head>
<body class="body">
    {% include 'header.html' with purchases=purchases %}
    <main class="main container">
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
        
    </main>
{% include 'footer.html' %} 
{% block scripts %}
<!-- scripts go here -->
{% endblock %}
</body>
</html>
