{% extends 'base.html' %}
{% block title %} Избранные Рецепты {% endblock %}
{% csrf_token %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "./pages/index.css" %}">
{% endblock %}
{% block content %}
{% load static %}

<div class="main__header">
    <h1 class="main__title">Рецепты</h1>
    <!-- tags go here -->
    {% include 'tags.html' %}
</div>
<div class="card-list">
    {% for recipe in page %}
    {% include 'card.html' with recipe=recipe %}
    {% empty %}
    <h2> У Вас нет избранных рецептов. </h2>
    {% endfor %}
    <!-- recipies go here -->
    <!-- paginator goes gere -->
    {% if page.has_other_pages %}
    {% include 'paginator.html' %}
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src={% static "./js/components/MainCards.js" %}></script>

<script src={% static "./js/components/Purchases.js" %}></script>
<script src={% static "./js/components/Favorites.js" %}></script>

<script src={% static "./js/config/config.js" %}></script>
<script src={% static "./js/components/CardList.js" %}></script>
<script src={% static "./js/components/Header.js" %}></script>

<script src={% static "./js/api/Api.js" %}></script>
<script src={% static "indexAuth.js" %}></script>
{% endblock %}