{% extends 'base.html' %}
{% block title %}Список Покупок {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "./pages/shopList.css" %}">
{% endblock %}
{% block content %}
{% load static %}
<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
</div>
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for purchase in purchases %}
        {% include 'shopping_list_card.html' %}
        {% endfor %}
    </ul>
    {% if purchases.exists %}
    <a href={% url 'download_shopping_list' %}><button class="button button_style_blue">Скачать список</button></a>
    {% else %}
    <h2>В вашей корзине сейчас пусто. Добавьте рецепты в корзину, прежде чем скачать список всех ингредиетнов. </h2>
    {% endif %}


</div>
{% endblock %}
{% block scripts %}
<script src={% static "./js/config/config.js" %}></script>
<script src={% static "./js/components/Header.js" %}></script>
<script src={% static "./js/components/ShopList.js" %}></script>
<script src={% static "./js/api/Api.js" %}></script>
<script src={% static "shopList.js" %}></script>
{% endblock %}

