<div class="card-user" data-author={{ author.id }}>
    <div class="card-user__header">
        <h2 class="card-user__title">{{ author.username }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:":3" %}
            <li class="card-user__item">
                <a href={% url 'single_recipe' recipe.slug %}>
                <div class="recipe">
                    {% load thumbnail %}
                    {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
                    <img src="{{ im.url }}" alt="Изображение" class="recipe__image">
                    {% endthumbnail %}
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин</p>
                </div>
                </a>
            </li>
            {% endfor %}
            {% if author.recipes.all|length > 3 %}
            <li class="card-user__item">
                <a href={% url 'user_recipe' author.username %} class="card-user__link link">Еще {{ author.recipes.all|length|add:"-3" }} рецептов...</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>