<ul class="tags">
    <li class="tags__item">
        <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox{% if 'B' in tags %}_active{% else %} {% endif %}" href='?tags=B'></a>
        <span class="tags__label">Завтрак</span>
    </li>
    <li class="tags__item">
        <a name = "tags" value = "lunch" id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox{% if 'L' in tags %}_active{% else %} {% endif %}" href='?tags=L'></a>
        <span for="lunch" class="tags__label">Обед</span>
    </li>
    <li class="tags__item">
        <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox{% if 'D' in tags %}_active{% else %} {% endif %}" href='?tags=D'></a>
        <label for="dinner" class="tags__label">Ужин</label>
    </li>
    <!-- <li class="tags__item">
        <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox{% if 'D' in tags %}_active{% else %} {% endif %}" href='?tags=D'></a>
        <label for="dinner" class="tags__label">Перекус</label> -->
</ul>